
<template>
    <v-app id="inspire">
        <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step step="0" :complete="e1 > 0">Шаг 0</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="1" :complete="e1 > 1">Шаг 1</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="e1 > 2">Шаг 2</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3" :complete="e1 > 3">Шаг 3</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="4" :complete="e1 > 4">Шаг 4</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="5">Шаг 5</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items>
                <v-stepper-content step="0">
                    <h3 class="headline mb-0">Шаг 0 - Регистрация</h3>
                    <v-text-field
                            label="Имя"
                    ></v-text-field>
                    <v-text-field
                            label="Фамилия"
                    ></v-text-field>
                    <v-text-field
                            label="Класс"
                    ></v-text-field>
                    <v-btn color="primary" @click.native="e1 = 1">Далее</v-btn>
                </v-stepper-content>
                <v-stepper-content step="1">
                    <h3 class="headline mb-0">Шаг 1</h3>
                    <div>
                        <slider1-component></slider1-component>
                        <slider2-component></slider2-component>
                        <slider3-component></slider3-component>
                    </div>
                    <v-btn color="primary" @click.native="e1 = 2">Далее</v-btn>
                </v-stepper-content>
                <v-stepper-content step="2">
                    <h3 class="headline mb-0">Шаг 2</h3>
                    <div>
                        <slider4-component></slider4-component>
                        <slider5-component></slider5-component>
                        <slider6-component></slider6-component>
                    </div>
                    <v-btn color="primary" @click.native="e1 = 3">Далее</v-btn>
                </v-stepper-content>
                <v-stepper-content step="3">
                    <h3 class="headline mb-0">Шаг 3</h3>
                    <div>
                        <slider7-component></slider7-component>
                        <slider8-component></slider8-component>
                        <slider9-component></slider9-component>
                    </div>
                    <v-btn color="primary" @click.native="e1 = 4">Далее</v-btn>
                </v-stepper-content>
                <v-stepper-content step="4">
                    <h3 class="headline mb-0">Шаг 4</h3>
                    <div>
                        <slider10-component></slider10-component>
                        <slider11-component></slider11-component>
                        <slider12-component></slider12-component>
                    </div>
                    <v-btn color="primary" @click.native="e1 = 5">Далее</v-btn>
                </v-stepper-content>
                <v-stepper-content step="5">
                    <h3 class="headline mb-0">Шаг 4</h3>
                    <div>
                        <slider13-component></slider13-component>
                        <slider14-component></slider14-component>
                        <slider15-component></slider15-component>
                    </div>
                    <v-btn color="success" v-on:click="sendform">Сохранить</v-btn>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </v-app>

</template>
<script>
    export default {
        data () {
            return {
                e1: 0
            }

        },
        methods: {
            sendform() {
                document.forms["opros-form"].submit();
            }
        },
    }
</script>



<!--<template>-->
<!--<div>-->


<!--<vue-good-wizard-->
<!--:steps="steps"-->
<!--:onNext="nextClicked"-->
<!--:onBack="backClicked">-->
<!--<div slot="page1">-->
<!--<h4>Step 1</h4>-->
<!--<p>This is step 1</p>-->
<!--</div>-->
<!--<div slot="page2">-->
<!--<h4>Step 2</h4>-->
<!--<p>This is step 2</p>-->
<!--<slider1-component></slider1-component>-->
<!--<slider2-component></slider2-component>-->
<!--<slider3-component></slider3-component>-->
<!--</div>-->
<!--<div slot="page3">-->
<!--<h4>Step 3</h4>-->
<!--<p>This is step 3</p>-->
<!--<slider4-component></slider4-component>-->
<!--<slider5-component></slider5-component>-->
<!--<slider6-component></slider6-component>-->
<!--</div>-->
<!--<div slot="page4">-->
<!--<h4>Step 4</h4>-->
<!--<p>This is step 4</p>-->
<!--<slider7-component></slider7-component>-->
<!--<slider8-component></slider8-component>-->
<!--<slider9-component></slider9-component>-->

<!--</div>-->
<!--<div slot="page5">-->
<!--<h4>Step 5</h4>-->
<!--<p>This is step 5</p>-->
<!--<slider10-component></slider10-component>-->
<!--<slider11-component></slider11-component>-->
<!--<slider12-component></slider12-component>-->

<!--</div>-->
<!--<div slot="page6">-->
<!--<h4>Step 6</h4>-->
<!--<p>This is step 6</p>-->
<!--<slider13-component></slider13-component>-->
<!--<slider14-component></slider14-component>-->
<!--<slider15-component></slider15-component>-->

<!--</div>-->

<!--</vue-good-wizard>-->

<!--<ul v-if="errors && errors.length">-->
<!--<li v-for="(error, index) of errors" :key="index">-->
<!--{{error.message}}-->
<!--</li>-->

<!--</ul>-->
<!--</div>-->
<!--</template>-->

<!--<script>-->
<!--import axios from 'axios';-->
<!--export default {-->
<!--name: 'poll',-->
<!--data(){-->
<!--return {-->
<!--errors: [],-->
<!--steps: [-->
<!--{-->
<!--label: 'Step 1',-->
<!--slot: 'page1',-->
<!--},-->
<!--{-->
<!--label: 'Step 2',-->
<!--slot: 'page2',-->
<!--},-->
<!--{-->
<!--label: 'Step 3',-->
<!--slot: 'page3',-->
<!--},-->
<!--{-->
<!--label: 'Step 4',-->
<!--slot: 'page4',-->
<!--},-->
<!--{-->
<!--label: 'Step 5',-->
<!--slot: 'page5',-->
<!--},-->
<!--{-->
<!--label: 'Step 6',-->
<!--slot: 'page6',-->
<!--}-->
<!--],-->
<!--};-->
<!--},-->
<!--methods: {-->
<!--nextClicked(currentPage) {-->

<!--if (currentPage === 5) {-->
<!--document.forms["opros-form"].submit();-->
<!--// this.sendform();-->
<!--return false;-->
<!--}-->
<!--return true;-->
<!--},-->
<!--backClicked(currentPage) {-->
<!--return false;-->
<!--},-->
<!--sendform() {-->
<!--axios.post('sdfsfsf', {-->

<!--})-->
<!--.then(response => {})-->
<!--.catch(e => {-->
<!--this.errors.push(e);-->
<!--})-->
<!--}-->
<!--},-->
<!--};-->
<!--</script>-->