<template>
    <vue-slider ref="slider12" v-bind="slider.slider12" v-model="slider.slider12.value" :formatter="formatting" tooltipDir="left" @drag-start="dragStart" @drag-end="dragEnd" >
        <template slot="label" slot-scope="{ label, active }">
                    <span :class="['custom-label', { active }]" v-if="label % 50 === 0" style="margin-left:14px; margin-top: 10px;">
                      {{ label }}
                    </span>
        </template>
    </vue-slider>

</template>
<script>
    import vueSlider from 'vue-slider-component';

    export default {
        components: {
            vueSlider
        },
        data () {
            return {
                slider: {
                    slider12: {
                        value: 0,
                        width: 4,
                        height: 300,
                        dotSize: 22,
                        eventType: 'auto',
                        min: 0,
                        max: 100,
                        interval: 1,
                        disabled: false,
                        show: true,
                        tooltip: 'always',
                        piecewise: false,
                        piecewiseLabel: true,
                        style: {
                            display: 'inline-block',
                            marginLeft: '30px',
                            marginRight: '50px'
                        },
                        direction: 'vertical',
                        speed: 0.5,
                        processStyle: {
                            backgroundColor: '#fff'
                        }
                    },

                }
            }
        },
        methods: {
            format (value) {
                return value === null ? 'null' : (typeof value === 'string' ? `"${value}"` : value)
            },
            formatting (value) {
                this.slider.slider12.processStyle.backgroundColor = `rgba(71, 113, 255, ${value / 100})`;
                let inp = document.getElementById('slider12-value');
                inp.value = value;
                return value
            },
            setDisabled (name) {

                let obj = this.slider[name]
                obj.disabled = !obj.disabled
            },
            setTooltip (name) {
                let obj = this.slider[name]
                obj.tooltip = obj.tooltip === 'hover' ? 'always' : 'hover'
            },
            setValue (name, num) {

                let obj = this.demo[name]
                obj.value = num

            },
            setIndex (name, num) {
                let slider = this.$refs[name]
                slider.setIndex(num)
            },
            getValue (name) {
                return this.$refs[name];
            },
            getIndex (name) {
                let slider = this.$refs[name]
                alert(slider.getIndex())
            },
            dragStart () {
                this.slider.slider12.speed = 0
            },
            dragEnd () {
                this.slider.slider12.speed = 0.5


            },
            cb (val) {

                console.log(val)
            }
        },
    }
</script>