<template>
    <v-app id="inspire">
            <vue-good-wizard
                    :steps="steps"
                    :onNext="nextClicked"
                    :onBack="backClicked">
                <div slot="page1">
                    <h4>Step 1</h4>
                    <p>This is step 1</p>
                    <v-text-field
                            label="Имя"
                            v-on:input="changeFirstname"
                    ></v-text-field>
                    <v-text-field
                            label="Фамилия"
                            v-on:input="changeSecondname"
                    ></v-text-field>
                    <v-text-field
                            label="Класс"
                            v-on:input="changeClass"
                    ></v-text-field>
                </div>
                <div slot="page2">
                    <h4>Step 2</h4>
                    <p>This is step 2</p>
                    <slider1-component></slider1-component>
                    <slider2-component></slider2-component>
                    <slider3-component></slider3-component>
                </div>
                <div slot="page3">
                    <h4>Step 3</h4>
                    <p>This is step 3</p>
                    <slider4-component></slider4-component>
                    <slider5-component></slider5-component>
                    <slider6-component></slider6-component>
                </div>
                <div slot="page4">
                    <h4>Step 4</h4>
                    <p>This is step 4</p>
                    <slider7-component></slider7-component>
                    <slider8-component></slider8-component>
                    <slider9-component></slider9-component>

                </div>
                <div slot="page5">
                    <h4>Step 5</h4>
                    <p>This is step 5</p>
                    <slider10-component></slider10-component>
                    <slider11-component></slider11-component>
                    <slider12-component></slider12-component>

                </div>
                <div slot="page6">
                    <h4>Step 6</h4>
                    <p>This is step 6</p>
                    <slider13-component></slider13-component>
                    <slider14-component></slider14-component>
                    <slider15-component></slider15-component>

                </div>

            </vue-good-wizard>

    </v-app>

</template>

<script>
    import axios from 'axios';
    export default {
        name: 'poll',
        data(){
            return {
                errors: [],
                nextStepLabel: 'Далее',
                steps: [
                    {
                        label: 'Step 1',
                        slot: 'page1',
                    },
                    {
                        label: 'Step 2',
                        slot: 'page2',
                    },
                    {
                        label: 'Step 3',
                        slot: 'page3',
                    },
                    {
                        label: 'Step 4',
                        slot: 'page4',
                    },
                    {
                        label: 'Step 5',
                        slot: 'page5',
                    },
                    {
                        label: 'Step 6',
                        slot: 'page6',
                    }
                ],

            };
        },
        methods: {
            nextClicked(currentPage) {
                if (currentPage === 5) {
                    document.forms["opros-form"].submit();
                }

                return true;
            },
            backClicked(currentPage) {
                return false;
            },
            sendform() {
                axios.post('sdfsfsf', {

                })
                .then(response => {})
                .catch(e => {
                    this.errors.push(e);
                })
            },
            changeFirstname: function (value) {
                let inp = document.getElementById('firstname');
                inp.value = value;
            },
            changeSecondname: function (value) {
                let inp = document.getElementById('secondname');
                inp.value = value;
            },
            changeClass: function (value) {
                let inp = document.getElementById('class');
                inp.value = value;
            }
        },
    };
</script>